input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  padding: 0.5rem 2rem 0.5rem 1.5rem;
}

input::placeholder {
  color: #d3d3d3;
  font-size: 1.6rem;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #f5c518;
}

input[type='checkbox'] {
  cursor: pointer;
}

button {
  font-size: 1.6rem;
}
