<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS ------------------------------------------------------------------- -->
    <link rel="stylesheet" href="../static/style.css" />
    <!-- JAVASCRIPT ------------------------------------------------------------ -->
    <script defer src="../static/app.js"></script>
    <!-- JQEURY ---------------------------------------------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>항해99 1주차 프로젝트</title>
  </head>
  <body>
    <!-- DB TEST --------------------------------------------------------------- -->
    <div>
      <div>
        <input class="dbtest-input" type="text" />
        <button class="dbtest-btn" type="submit" onclick="dbTestPost()">
          SUBMIT
        </button>
      </div>
      <div class="dbtest-list">
        <span class="dbtest-text">DB TEST 텍스트 확인</span>
      </div>
    </div>
  </body>
</html>
