<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="배근아, 유정훈, 이태민" />
    <meta name="description" content="항해99 1주차 프로젝트 - IMDb99" />
    <!-- FONT ------------------------------------------------------------------ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS ------------------------------------------------------------------- -->
    <link rel="stylesheet" href="../static/style.css" />
    <!-- JAVASCRIPT ------------------------------------------------------------ -->
    <script defer src="../static/app.js"></script>
    <!-- JQEURY ---------------------------------------------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>IMDb99 | SIGN UP</title>
  </head>
  <body>
    <h1 class="imdb-title">IMDb99</h1>
    <h2 class="a11y-hidden">SIGN UP</h2>
    <form action="">
      <div>
        <input
          id="input-useremail"
          type="email"
          placeholder="이메일을 입력하세요"
        />
        <div><span id="emailmsg"></span></div>
      </div>
      <div>
        <input
          id="input-username"
          type="text"
          maxlength="6"
          placeholder="사용할 닉네임을 입력하세요"
        />
        <div><span id="namemsg"></span></div>
      </div>
      <div>
        <input
          id="input-password"
          type="password"
          maxlength="20"
          placeholder="비밀번호를 입력하세요"
        />
        <button type="button" class="view-pw" onclick="view_pw(this)">
          확인
        </button>
        <div><span id="pwmsg1"></span></div>
      </div>
      <div>
        <input
          id="input-password2"
          type="password"
          maxlength="20"
          placeholder="확인용 비밀번호를 입력하세요"
        />
        <div><span id="pwmsg2"></span></div>
      </div>
    </form>
    <button onclick="sign_up()">회원가입</button>
    <button onclick="goToHome()">메인으로🏠</button>
  </body>
</html>
