<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="배근아, 유정훈, 이태민" />
    <meta name="description" content="항해99 1주차 프로젝트 - IMDb99" />
    <!-- FAVICON --------------------------------------------------------------- -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/images/imdb99_favicon.jpg"
    />
    <!-- FONT ------------------------------------------------------------------ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Titillium+Web:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS ------------------------------------------------------------------- -->
    <link rel="stylesheet" href="../static/style.css" />
    <!-- JAVASCRIPT ------------------------------------------------------------ -->
    <script defer src="../static/app.js"></script>
    <!-- JQEURY ---------------------------------------------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>IMDb99 | SIGN IN</title>
  </head>
  <body>
    <nav class="imdb-nav">
      <h1 class="imdb-title" onclick="goToHome()">IMDb99</h1>
      <h2 class="a11y-hidden">SIGN IN</h2>
    </nav>
    <!-- SIGN IN --------------------------------------------------------------- -->
    <div class="signin-container">
      <div class="signin-wrapper">
        <input
          id="input-useremail-in"
          class="signin-email-input signin-input"
          type="email"
          placeholder="email"
          required
        />
        <input
          id="input-password-in"
          class="signin-password-input signin-input"
          type="password"
          placeholder="password"
          required
        />
      </div>
      <div class="signin-btn-wrapper">
        <button class="signin-btn" onclick="sign_in()">SIGN IN</button>
        <button class="signin-btn" onclick="goToSignUp()">SIGN UP</button>
      </div>
    </div>
    <div class="welcome-container">
      <div class="welcome-wrapper">
        <span class="welcome-message1">Welcome to </span>
        <h1 class="imdb-welcome-title">IMDb99</h1>
      </div>
      <div class="welcome-subwrapper">
        <span class="welcome-message2"
          >Explore the most
          <span class="yellow_text">popular movies</span> now,</span
        >
        <span class="welcome-message3"
          >Make your own <span class="yellow_text">movie list</span>!</span
        >
      </div>
    </div>
  </body>
  <footer class="footer-container">
    <div class="footer-wrapper">
      <h1 class="imdb-footer-title">IMDb99</h1>
      <div class="footer-info-container">
        <span class="footer-info-message1"
          >This is Sparta Coding Club Hanghae99 Project</span
        >
        <span class="footer-info-message2">
          What is Hanghae99?
          <a
            class="footer-info-link"
            href="https://spartacodingclub.kr/"
            target="_blank"
            >https://spartacodingclub.kr/</a
          >
        </span>
        <span class="footer-info-message3"
          >Reference |
          <a
            class="footer-info-link"
            href="https://www.imdb.com/"
            target="_blank"
            >https://www.imdb.com/</a
          ></span
        >
        <span class="footer-info-message4">
          MOVIE API |
          <a
            class="footer-info-link"
            href="https://www.themoviedb.org/?language=ko"
            target="_blank"
          >
            https://www.themoviedb.org
          </a>
        </span>
        <br />
        <span class="footer-info-message5"
          >Copyright © 2022 All rights reserved.</span
        >
      </div>
      <ul class="github-list">
        <li class="github-item">
          <a
            class="github-link"
            href="https://github.com/green9930"
            target="_blank"
          >
            <img
              src="../static/images/github-logo.svg"
              alt="github-green9930"
            />
            <span class="author-name">GEUNA</span>
          </a>
        </li>
        <li class="github-item">
          <a
            class="github-link"
            href="https://github.com/mrobo3"
            target="_blank"
          >
            <img src="../static/images/github-logo.svg" alt="github-mrobo3" />
            <span class="author-name">JUNGHOON</span>
          </a>
        </li>
        <li class="github-item">
          <a
            class="github-link"
            href="https://github.com/PhiloMonx1"
            target="_blank"
          >
            <img
              src="../static/images/github-logo.svg"
              alt="github-PhiloMonx1"
            />
            <span class="author-name">TAEMIN</span>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>
